/* César Iriso */

.cesar-title {
  font-family: "Billion Dreams";
  font-style: normal;
  font-weight: 400;
  font-size: 6.6666666666667vw;
  line-height: 189px;
  color: #ffd60a;
}
.sub-title {
  font-family: "Billion Dreams";
  font-style: normal;
  font-weight: 400;
  font-size: 2.0833333333333vw;
  line-height: 59px;
  color: #ffd60a;
}
.line-one,
.line-two,
.yellow-logo {
  position: absolute;
}
.yellow-logo {
  width: 49px;
  height: 49px;
  top: 47px;
  left: 47px;
}
.line-one {
  height: calc(100% - 124px);
  width: 0px;
  bottom: 0px;
  left: 71px;
  border: 1px solid #ffd60a;
}
.line-two {
  right: 0;
  width: calc(100% - 124px);
  top: 71px;
  /* width: 1796px; */
  height: 0px;
  border: 1px solid #ffd60a;
}
.title-container {
  width: 520px;
}
.bottom-links {
  color: #ffd60a;
}

@media all and (max-width: 1200px) {
  .line-one {
    display: none;
  }
}
